.Products
    padding: 140px 0
    h1 
        text-align: center
        font-size: 3.2rem
        margin-bottom: 60px
        font-family: 'Heebo', sans-serif
        
    &-grid
        display: grid
        grid-template-columns: repeat( auto-fit , minmax(280px, 1fr))
        grid-gap: 50px
        justify-items: center
        align-content: center

        .item-box
            max-width: 310px
            height: 500px
            background: #e3e3e3
            margin-bottom: 40px
            overflow: hidden
            box-shadow: 5px 5px 10px #0000005d
            border-radius: 7px
        img 
            height: 500px
            width: 100%
            object-fit: cover

@media screen and ( max-width: 1200px  )
    .Products
        background: red
        &-grid
            grid-template-columns: repeat( auto-fit , minmax(260px, 1fr))
            .item-box
                height: 400px
                width: 300px
                img 
                    height: 400px

    
    