@import '../../App'
.WhyAaron
    padding: 100px 0 150px

    h1
        margin-bottom: 20px
        font-size: 3rem
        letter-spacing: .5px
        font-family: 'Heebo', sans-serif
    p
        margin-left: 40px

    .center-container
        position: relative
        // background: green

    .left-side
        clip-path: polygon(8% 0, 100% 0, 100% 82%, 91% 100%, 0 100%, 0 19%)
        position: absolute
        top: 45%
        left: 10%
        background: $gold-text
        padding: 40px 30px 30px
        width: 500px

    .right-side
        margin-left: 400px
    img
        width: 800px
