.AllProducts 
    .top-container 
        // background: red
        height: 100px
        display: flex
        justify-content: space-between
        align-items: center
    
    p 
        // font-weight: 500
    select 
        border-style: none
        border-radius: 30px
        padding: 10px 20px
        // transition: border-radius 
        background: #e5e5e5
        &:focus
            border-radius: 20px 20px 0 0
    
    .Item-grid 
        padding: 70px 0 100px
        display: grid 
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        grid: 150px
        justify-items: center