.Item 
    cursor: pointer
    width: 300px
    margin-bottom: 30px
    
    img 
        height: 350px
        width: 100%
        object-fit: cover
        object-position: center

    &-info
        padding: 10px 0
        text-align: center
        h1 
            font-size: 1.2rem