@import '../../App'
.Showcase
    height: 600px
    width: 100%
    overflow: hidden
    object-position: center
    position: relative

    &:after
        position: absolute
        content: ''
        top: 0
        left: 0
        width: 0
        height: 100%
        width: 100%
        background: linear-gradient(to top, black , transparent)

    img
        object-position: right
        object-fit: cover
        height: 900px
        width: 100%

    .content 
        position: absolute
        width: 500px
        bottom: 10%
        left: 10%
        z-index: 3
        h1
            color: white
            letter-spacing: 1px
            font-size: 3.2rem
            line-height: 3.5rem
            margin-bottom: 30px
            text-transform: uppercase
        p
            color: white
            font-size: 1.1rem
            margin-bottom: 20px
            line-height: 1.6rem
            span     
                font-style: italic

        button
            border-style: none
            background: transparent
            border: 2px solid $gold-text
            border-radius: 30px
            padding: 10px 20px
            color: $gold-text
            cursor: pointer
            font-weight: 700
            font-size: .75rem
            text-transform: uppercase
            transition: background .4s , color .4s

            &:hover
                background: $gold-text
                color: black
