@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css?family=Heebo:800&display=swap');
*
    font-family: 'Roboto', sans-serif
    margin: 0 
    outline: none
    box-sizing: border-box
COLORS
//ffc60b
// $gold-text: #E9D376
$gold-text: #ffc60b
@mixin container($max-width)
    margin: 0 auto
    width: 80% 
    max-width: $max-width

.container 
    @include container(1400px)
.sm-container
    @include container(1200px)
.xsm-container
    @include container(1000px)
// .xsm-container
//     @include container(00px)

// .nav-container 
//     @include container(500px)

.Item-grid 
    padding: 70px 0 100px
    display: grid 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid: 150px
    justify-items: center

    a
        text-decoration: none
        color: black
