*
    margin: 0 
    outline: none
    box-sizing: border-box

@mixin container($max-width)
    margin: 0 auto
    width: 80% 
    max-width: $max-width

.container 
    @include container(1400px)

// .nav-container 
//     @include container(500px)